<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProtoBuf-Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>925BAE791FC9A6F7008E922E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_854</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
